.hero {
    
    height: 20rem;
    position: relative;
    background: #191e26;

    .hero__image {
        background-size: cover;
        background-size: 80%;
        height: inherit;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-image: url('~src/assets/images/donna_headshot2.png');
    }

    .hero__content {
        font-size: 4rem;
        position: absolute;
        color: #e0e0e0;
        bottom: 4rem;
        left: 0.5rem;
        z-index: 1001;
        text-shadow: 0 0 7px #262626;
    }

    .hero__content--large {
        position: absolute;
        font-size: 5rem;
        color: #ffb74d;
        bottom: 0;
        left: 0.5rem;
        z-index: 1001;
        text-shadow: 0 0 7px #262626;
    }
}