.hero {
    height: 20rem;
    position: relative;
    background: #082634;

    &__image {
        background-size: 80%;
        height: inherit;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-image: url("~src/assets/images/donna_headshot3.png");
    }

    &__content {
        font-size: 4rem;
        position: absolute;
        color: #e0e0e0;
        bottom: 4rem;
        left: 0.5rem;
        z-index: 1001;
        text-shadow: 0 0 7px #262626;

        &.large {
            font-size: 5rem;
            color: #ffb74d;
            bottom: 0;
            left: 0.5rem;
            z-index: 1001;
        }
    }
}

.segment {
    padding: 1rem;
    background: #07202c;
    height: 100vh;
    position: sticky;
    top: 0;
    box-sizing: border-box;

    &__title {
        font-size: 1.5rem;
        color: #ffb74d;
        text-align: right;
    }

    &--inverted {
        background: #082634;
    }
}